name: 'Terraform Web App CI/CD'

on: [push]
env:
  ARM_CLIENT_ID: ${{ secrets.CLIENT_ID }}
  ARM_CLIENT_SECRET: ${{  secrets.CLIENT_SECRET  }}
  ARM_SUBSCRIPTION_ID: ${{  secrets.SUBSCRIPTION_ID  }}
  ARM_TENANT_ID: ${{  secrets.TENANT_ID  }}

jobs:
  terraform:
    name: 'Terraform'
    runs-on: ubuntu-latest

    defaults:
      run:
        shell: bash

    steps:
    - name: Checkout
      uses: actions/checkout@v2
      
    - name: Login to AZ CLI
      uses: azure/login@v1.1
      with:
        creds: ${{ secrets.AZURE_CREDENTIALS }}
 
    - name: Setup Terraform
      uses: hashicorp/setup-terraform@v1

    - name: Terraform Init
      run: terraform init

    - name: Terraform Format
      run: terraform fmt -check
      
    - name: Terraform Plan
      run: terraform plan
    
    - name: Terraform Apply
      if: github.ref == 'refs/heads/master' && github.event_name == 'push'
      run: terraform apply -auto-approve

  build-and-deploy-web-app:
    needs: Terraform
    runs-on: ubuntu-latest
    steps:
    - name: 'Checkout GitHub Action' 
      uses: actions/checkout@v2
      with:
        repository: kuhlman-labs/AzureEats-Website
   
    - uses: azure/login@v1.1
      with:
        creds: ${{ secrets.AZURE_CREDENTIALS }}
            
    - name: Setup Node
      uses: actions/setup-node@v1
      with:
        node-version: '10.15.2'
        
    - name: 'npm install, build, and test'
      run: |
        npm install
        npm run build --if-present
        npm run test --if-present

    - name: Setup dotnet core
      uses: actions/setup-dotnet@v1
      with:
          dotnet-version: 2.1.400

    - name: dotnet build
      working-directory: Source/Tailwind.Traders.Web
      run: dotnet build --configuration Release

    - name: dotnet publish
      working-directory: Source/Tailwind.Traders.Web
      run: |
          dotnet publish -c Release -o ${{env.DOTNET_ROOT}}/Source/Tailwind.Traders.Web
                   
    - uses: azure/webapps-deploy@v2
      with:
        app-name: 'tf-on-azure-challenge1-bk'
        package: ${{env.DOTNET_ROOT}}/Source/Tailwind.Traders.Web